button {
  height: 50px;
  width: 150px;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 40px;
  background-color: rgb(14, 100, 197);
  margin-bottom: 15px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}
#ruin-seeker-img {
  width: 150px;
}